* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 35px 12%;
   background: rgba(0, 0, 0, 0.856);
   backdrop-filter: blur(10px);
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;

}

header h1 {
    margin: 0;
    font-size: 24px;
}   
.about{
    text-align:center;
    justify-content:center;
}

.btn-1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-2{
    padding: 15px 28px;
    background-color:orangered;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}


a{
    text-decoration:none;
}
.navbar a{
    font-size: 18px;
    color: white;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
    justify-content: space-between;
    
}
span{
    color: orangered;
}
.contact{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.home{
    width: 100%;
    min-height: 100vh;
    background: rgb(241, 241,241);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.home-content{
    max-width: 800px;
}
.home-content h3{
    font-size: 42px;
}
.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}
.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
}
.img-box img{
    border-radius: 5rem;
    width: 300px;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: orangered;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: black;
}
.about-content h2{
   text-align: left;
   color: white;
   font-size: 42px;
}
.about-content h3{
    font-size: 62px;
    color: white;
}
.about-content p{
    color: white;
    font-size: 25px;
    margin: 3em 0 3em;
}
.contact-form h2{
    text-align: center;
    margin-top:3em ;
    margin-bottom: 1em;
    font-size: 36px;
}

.contact-form form{
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}
.contact-form form .input-box{
    justify-content: center;
    display: flex;
    text-wrap: wrap;

}
.contact-form form .input-box input,
.contact-form form textarea{
    width: 100%;
    font-size: 18px;
    padding: 1.5em;
    color: black;
    border-radius: 0.8rem;
    background-color: rgb(241, 241, 241);
    margin: 1rem ;
    resize: none;
}